.dialogs {
    display: grid;
    grid-template-columns: 1fr  10fr;
 
}
.dialogItem{
    padding: 10px;
    color: white;

}
.dialogItem .active{
   color: gold;

} 

.dialogs {
    background-color: aqua;

}
.messages {
 padding: 10px;

}

